body {
    font-family: Optima, Monospace, sans-serif;
}

a {
    text-decoration: none;
}

.main-header {
    display: flex;
    width: 100%;
    align-items: center;
}

.main-header .site-title {
    font-size: 30px;
    font-family: Optima;
    margin-left: 10px;
    margin-right: 20px;
    color: #b14f14;
}

.main-header .session-title {
    font-size: 16px;
}

.main-header .header-button {
    margin: 10px;
    color: red;
    cursor: pointer;
}

.main-header .header-button:hover {
    color: black;
}

.sessioncreator {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 20%;
}

.sessioncreator input {
    text-align: center;
    font-size: 25px;
    font-family: Optima;
}

.sessioncreator button {

    font-family: Optima;
    font-size: 25px;
}

.main-assignment {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 20%;
}

.main-assignment button {
    font-family: Optima;
    font-size: 20px;
    margin: 10px;
}

.main-assignment span {
    font-family: Optima;
    font-size: 20px;
}
.session {
    display: flex;
    flex-wrap: wrap;
}

.session .history {
    padding: 10px;
    border: 2px black solid;
    text-align: center;
}

.session .history .stage-title {
    text-align: left;
    margin: 10px;
}

.session .history .log {
    margin-top: 5px;
    text-align: left;
    max-height: 500px;
    overflow-y: scroll;
    border: 1px solid red;
    padding: 10px;
}

.session .history .log ul {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
}

.session .history .log li {
    list-style: none;
}

.actions {
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: left;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.actions input {
    font-size: 13px;
    padding:5px;
    outline: none;
    width: 300px;
}

.actions li {
    padding: 5px;
    margin-right: 3px;
    cursor: pointer;
    list-style: none;
}

.actions-wrapper button {
    font-size: 16px;
    padding: 5px;
    margin-right: 3px;
    border-radius: 5px;
    border: 2px solid green;
    cursor: pointer;
    list-style: none;
    outline: none;
}

.actions-wrapper button:active {
    background-color: green;
    color: white;
}

.actions li.selected {
    background-color: green;
    color: white;
}

.actions-wrapper .error {
    color: red;
    margin: 5px;
}

.option {
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid green;
    cursor: pointer;
}

.option.selected {
    background-color: green;
    color: white;
}


.board {
    background-color: black;
    cursor: default;
    user-select: none;
    user-drag: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -ms-user-select: none;
    padding-bottom: 10px;
}

.board img {
    user-select: none;
    user-drag: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -ms-user-select: none;
}

img.dead {
    opacity: 0.2;
}

img.alive {

}

.roundstate {
    padding: 10px;
    background-color: black;
    color: white;
    min-height: 50px;
    cursor: default;
    user-select: none;
    user-drag: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -ms-user-select: none;
}

.roundstate h4 {
    margin: 0;
    margin-bottom: 5px;
}


.factions {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.faction:not(:last-child) {
    border-bottom: 1px black solid;
}

.faction h2 {
    margin: 0;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    margin-right: 10px;
    border-left: 1px black solid;
    font-size: 18px;
    align-self: center;
}

.faction {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    display: flex;
    align-items: flex-end;
}

.faction svg {
    flex-shrink: 0;
}


.faction img {
    padding-left: 2px;
    padding-right: 2px;
}

.faction.me {
    background-color: #feffbe;
    flex-wrap: wrap;
}

.select-on-map.on {
    background-color: green;
    color: white;
    cursor: default;
}

.select-on-map {
    border: 1px black solid;
    border-radius: 5px;
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
}

.unit-select .label{
    width: 150px;
    margin-right: 10px;
    text-align: left;
}

.blank-logo {
    fill: rgba(255, 255, 255, 0.6);
    cursor: pointer;
}

.blank-logo.active {
    fill: rgba(0, 255, 0, 0.6);
}

.blank-logo.active:hover {
    fill: rgba(0, 255, 0, 0.7);
}

.space {
    fill: rgba(255, 255, 255, 0);
}

.space.active:hover {
    fill: rgba(255, 255, 255, 0.4);
}

.spaceSector {
    fill: rgba(255, 255, 255, 0);
}

.spaceSector.active:hover {
    fill: rgba(255, 255, 255, 0.4);
}

.sector {
    fill: rgba(255, 255, 255, 0);
}

.space.selected {
    fill: rgba(0, 255, 0, 0.7);
}

.spaceSector.selected {
    fill: rgba(0, 255, 0, 0.7);
}

.sector.selected {
    fill: rgba(0, 255, 0, 0.7);
}

.sector.active:hover {
    fill: rgba(255, 255, 255, 0.4);
}

.card {
    border-radius:3px;
    filter: drop-shadow(3px 3px 3px #888888);
}

.card.active:hover {
    filter: brightness(1.25) drop-shadow(3px 3px 3px #888888);
}

.card.selected:hover {
    filter: brightness(2) drop-shadow(3px 3px 3px #888888);
}

.card.selected {
    filter: brightness(2) drop-shadow(3px 3px 3px #888888);
}

.card.peak {
    opacity: 0.7;
    filter: hue-rotate(100deg) drop-shadow(3px 3px 3px #888888);
}

.storm {
}

.picker {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid white;
    border-radius: 10px;
}

.picker.active:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.picker.selected {
    background-color: white;
    color: black;
}

.leader-token {
    filter: drop-shadow(3px 3px 3px #888888);
}

.leader-token.active:hover {
    filter: brightness(1.25) drop-shadow(3px 3px 3px #888888);
}

.leader-token.selected:hover {
    filter: brightness(2) drop-shadow(3px 3px 3px #888888);
}

.leader-token.selected {
    filter: brightness(2) drop-shadow(3px 3px 3px #888888);
}

.leader-token.traitor {
    filter: hue-rotate(180deg) drop-shadow(3px 3px 3px #888888) contrast(100)!important;
}

.token-pile {
    pointer-events: none;
}

.spice-pile {
    pointer-events: none;
}

.history-item {

}

.history-item.mine {
    font-weight: bold;
}

.history-item.su {
    opacity: 0.5;
    font-style:italic;
}

.su-button {
    border: none;
    cursor: pointer;
    outline:none;
    position:absolute;
    right: 2px;
    top: 1px;
}

.su-button:hover {
}

.battle-plan {
    color: white;
    background-color:black; 
    padding: 10px;
    border-radius: 5px;
    box-shadow: 3px 3px 2px 3px #888888;
}

.big-unit {
    font-size: 30px;
    margin-left: 10px;
}

.select-faction {
    filter: brightness(0.3) drop-shadow(3px 3px 3px #888888);
}

.select-faction.selected {
    filter: brightness(1.0) drop-shadow(3px 3px 3px #888888);
}

.question-leader {
    display: flex;
    justify-content:center;
    align-items: center;
    border: 1px solid white;
    border-radius: 40px;
    background-color: black;
    width: 80;
    height: 80;
}

.question-card {
    display: flex;
    justify-content:center;
    align-items: center;
    border: 1px solid white;
    border-radius: 5px;
    background-color: black;
    width: 98;
    height: 140;
    color: white;
}

.winner {
    font-size: 30px;
    margin: 10px;
    text-transform: uppercase;
    text-align: center;
}