body {
    font-family: Optima, Monospace, sans-serif;
}

.main-header {
    display: flex;
    width: 100%;
    align-items: center;
}

.main-header .site-title {
    font-size: 30px;
    font-family: Optima;
    margin-left: 10px;
    margin-right: 20px;
}

.main-header .session-title {
    font-size: 16px;
}

.main-header .header-button {
    margin: 10px;
    color: red;
    cursor: pointer;
}

.main-header .header-button:hover {
    color: black;
}

.session {
    display: flex;
    flex-wrap: wrap;
}

.session .history {
    padding: 10px;
    border: 2px black solid;
    max-width: 400px;
    text-align: center;
}

.session .history .stage-title {
    text-align: left;
    margin: 10px;
}

.session .history .log {
    margin-top: 5px;
    text-align: left;
    max-height: 500px;
    overflow-y: scroll;
    border: 1px solid red;
    padding: 10px;
}

.session .history .log ul {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
}

.session .history .log li {
    list-style: none;
}

.actions {
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: left;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.actions input {
    font-size: 13px;
    padding:5px;
    outline: none;
    width: 300px;
}

.actions li {
    padding: 5px;
    margin-right: 3px;
    cursor: pointer;
    list-style: none;
}

.actions-wrapper button {
    font-size: 16px;
    padding: 5px;
    margin-right: 3px;
    border-radius: 5px;
    border: 2px solid green;
    cursor: pointer;
    list-style: none;
    outline: none;
}

.actions-wrapper button:active {
    background-color: green;
    color: white;
}

.actions li.selected {
    background-color: green;
    color: white;
}

.actions .error {
    color: red;
    padding: 5px;
}

.board {
    background-color: black;
    cursor: default;
    user-select: none;
    user-drag: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -ms-user-select: none;
}

.board img {
    user-select: none;
    user-drag: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -ms-user-select: none;
}

img.dead {
    opacity: 0.2;
}

img.alive {

}

.roundstate {
    padding: 20px;
    background-color: black;
    color: white;
    min-height: 50px;
    cursor: default;
    user-select: none;
    user-drag: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -ms-user-select: none;
}


.factions {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.faction:not(:last-child) {
    border-bottom: 1px black solid;
}

.faction h2 {
    margin: 0;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    margin-right: 10px;
    border-left: 1px black solid;
    font-size: 18px;
    align-self: center;
}

.faction {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    display: flex;
    align-items: flex-end;
}

.faction svg {
    flex-shrink: 0;
}


.faction img {
    padding-left: 2px;
    padding-right: 2px;
}

.faction.me {
    background-color: #feffbe;
    flex-wrap: wrap;
}